@page
@model entity_core.Views.Blogs.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h4>Delete Blog?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Blog.Url)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Blog.Url)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Blog.BlogId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a href='javascript:history.go(-1)'>Back</a>
    </form>
</div>
