@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Create  <a asp-page="/Blogs/Index">Blogs</a> and <a asp-page="/Posts/Index">Posts</a></p>
</div>
